#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    background-color: #252627;
    color: snow;
    text-decoration: none;
    padding: 15px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body{
    background-color: snow;
    font-family: 'Questrial', sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0; 
}

header{
    background-color: snow;
}

nav a:hover{
    background-color: turquoise;
    color: firebrick;
}

.book{
    background-color: #252627;
    color: snow;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join{
    background-color: snow;
    color: #252627;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover{
    background-color: turquoise;
    color: firebrick;
}

.join:hover{
    background-color: turquoise;
    color: firebrick;
}

#background{
    background-color: snow;
}

.msg{
    background-color: #252627;
    color: snow;
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color: snow;
    padding: 25px 50px;
}

.home-title{
    background-color: snow;
    color: #252627;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    background-color: snow;
    color: #252627;
}

h2{
    margin: 0;
}

.msg h2{
    background-color: #252627;
    color: snow;
}

.msg p{
    background-color: #252627;
    color: snow;
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3{
    background-color: snow;
    color: #252627;
}

footer a{
    background-color: snow;
    color: #252627;
    text-decoration: none;
    margin-top: 200px;
}

footer a:hover{
    background-color: snow;
    color: #252627;
}
.logo, .icon{
    width: 80px
}
#logo_link{
    padding-top: 5px;
}
.icon{
    padding-top: 10px;
}
footer .social img{
    padding-top: 15px;
}
.river-card, .cabins-card, .bar-card{
margin: 200px 0;
}
.card-img{
    border: 10px solid firebrick;
}
/* font{ 
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Questrial', sans-serif;
} */